@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #3A5D8C,#F29F05);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #2f465993;
}

h1 {
    color: #3A5D8C;
    text-align: center;
    text-shadow: 1px 1px 2px #3a5e8c91;
}

h2 {
    color: #F25C05;
}

p {
    text-align: justify
}

